body {
    color: violet;
    background-color: #120a0f;
 }

nav a{
    padding: 1em 1em;
    text-decoration-line: none;
    color: violet;
}

nav a:hover{
    background-color: aliceblue;
}

header h1:hover{
    background-color: aliceblue;
}